.enoch-puzzle {
    .enoch-guess {
        display: grid;
        grid-template-columns: repeat(6, auto);
        gap: 4px;

        .guess-letter {
            font-family: 'enochian';
            font-size: 64px;
            width: 70px;
            text-align: center;
            border: dotted white 1px;
        }
    }
}