#battle-container, #battle-view {
    position: relative;
    user-select: none;
    -webkit-user-drag: none;
}

#battle-container img {
    -webkit-user-drag: none;
}

#battle-sprite {
    position: absolute;
    top: 150px;
    left: 430px;
}