.current-move-clash {
    position: absolute;
    top: 40%;
    left: 0;
    background: black;

    padding: 5px;
    border: solid white 2px;

    & img {
        margin-left: 15px;
        margin-top: 2px;
        margin-bottom: -2px; /* yeah sure buddy */
    }

     .opponent-side-of-clash, .player-side-of-clash {
        display: grid;
        grid-template-columns: 40px auto;

        & img {
            margin: 0 auto;
        }

        & div {
            display: grid;
            grid-template-columns: auto;
        }
     }
}