/* WHO LET HIM COOK!? HE'S BURNING THE WHOLE HOUSE DOWN!!!! */

.scenemenu-container {
    width: fit-content;
    padding: 20px;
    position: absolute;
}

.scenemenu-prompt-body {
    display: flex;

    p {
        border-top: solid 2px white;
        border-bottom: solid 2px white;
        margin-top: 19px;
        margin-bottom: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;

        span {
            text-align: center;
            margin-left: -4px;
            transform: perspective(0px);
        }
    }

    & img:last-of-type {
        margin-top: 19px;
    }
}

.scenemenu-options {
    border-left: solid 2px white;
    margin-left: 16px;
    padding-left: 2px;
    gap: 2px;

    display: flex;
    flex-direction: column;

    .scenemenu-option {
        border: solid 1px white;
        background: black;
        padding-left: 4px;
        border-right: none;
        width: calc(100% - (18px * (var(--n) + 1)));
        cursor: pointer;
        position: relative;
        height: 17px;
    }

    .scenemenu-option::after {
        content: url('./assets/option_tail.png');
        position: absolute;
        right: -17px;
        top: -1px;
    }

    /* kill me */
    & div:first-of-type {
        margin-top: -1px;
    }
}