@font-face {
  font-family: "main";
  src: url('@/assets/fonts/Piksel-JAGa.ttf');
}

@font-face {
  font-family: 'teeny';
  src: url(../assets/fonts/TeenyTinyPixls-o2zo.ttf);
}
:root {
  color: rgba(255, 255, 255, 0.87);
  background: rgb(0, 0, 0);
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;

  --cursor_default: url('../assets/ui/cursors/pr_stock.png'), auto;
  --cursor_pointer: url('../assets/ui/cursors/point.png'), auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'main';

  /* dont ask - makes pixel aligned */
  /* margin-left: 1px;
  overflow-y: hidden; */
  cursor: var(--cursor_default);
}

button, a {
  cursor: var(--cursor_pointer);
}

#scene-container {
  /* width: 950px; height: 675px; */
  border: 1px solid rgb(255, 255, 255);
  background-color: black;
}

button {
  background-color: black;
  border: inset 1px white;
  color: white;
  font-family: 'main';
  padding: 1px;
  margin: 1px;
}

#dg-ver {
  text-align: right;
}

/* Fixes font anti-aliasing blur 99.999999% of the time. */
#root {
  perspective: 0px;
  transform: perspective(0px);

}

.tooltip {
  opacity: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: 0.5s;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}