@font-face {
  font-family: "main";
  src: url('@/assets/fonts/Piksel-JAGa.ttf');
}

@font-face {
  font-family: 'teeny';
  src: url(../assets/fonts/TeenyTinyPixls-o2zo.ttf);
}
:root {
  color: rgba(255, 255, 255, 0.87);
  background: rgb(0, 0, 0);
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;

  --cursor_default: url('@/assets/ui/cursors/pra.png'), auto;
  --cursor_pointer: url('@/assets/ui/cursors/point.png'), auto;
}

.cursor-chat {
  cursor: url('@/assets/ui/cursors/pr_chat.png'), auto;
}

.cursor-interact {
  cursor: url('@/assets/ui/cursors/pra.png'), auto;
}

.cursor-observe {
  cursor: url('@/assets/ui/cursors/pr_obs.png'), auto;
}

.cursor-navigate {
  cursor: url('@/assets/ui/cursors/nav.png'), auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'main';

  /* dont ask - makes pixel aligned */
  /* margin-left: 1px;
  overflow-y: hidden; */
  cursor: var(--cursor_default);
}

button, a {
  cursor: var(--cursor_pointer);
}

#scene-container {
  /* width: 950px; height: 675px; */
  border: 1px solid rgb(255, 255, 255);
  background-color: black;
}

button {
  background-color: black;
  border: inset 1px white;
  color: white;
  font-family: 'main';
  padding: 1px;
  margin: 1px;
}

#dg-ver {
  text-align: right;
}

/* Fixes font anti-aliasing blur 99.999999% of the time. */
#root {
  perspective: 0px;
  transform: perspective(0px);

}

.tooltip {
  opacity: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: 0.5s;

  perspective: 0px;
  transform: perspective(0px);
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.fademein {
  opacity: 0;
  animation: fade-in forwards; /* attr(data-fade-duration ms, 500ms); /* unreliable on firefox ig */
  animation-duration: attr(data-fade-duration ms, 500ms);
  animation-duration: 500ms; /* fallback */
}

/* Integer scale game when there's enough room using evil hacks to support every browser (even the bad ones) */
@media screen and (min-width: 1978px) and (min-height: 1378px) {
    @supports not (-moz-orient: block) { /* chrome/webkit */
        main {
            zoom: 2; /* zoom seems to do nearest neighbor scaling of everything :D */
        }
    }

    @supports (-moz-orient: block) { /* firefox does things differently because of course */
        body {
            scale: 2;
            overflow: hidden;
        }

        #root, .tooltip {
            /* On firefox/chrome: perspective: 0px; makes the text not-blurry at normal scale
                 But for firefox, but when zoomed in, it makes the text blurry again (lmao?) */
            perspective: none; 
            transform: none;
        }
    }

    /* upscale all the cursors too */
    :root {
        --cursor_default: url('@/assets/ui/cursors/pra_2x.png'), auto;
        --cursor_pointer: url('@/assets/ui/cursors/point_2x.png'), auto;
    }

    .cursor-chat {
        cursor: url('@/assets/ui/cursors/pr_chat_2x.png'), auto;
    }

    .cursor-interact {
        cursor: url('@/assets/ui/cursors/pra_2x.png'), auto;
    }

    .cursor-observe {
        cursor: url('@/assets/ui/cursors/pr_obs_2x.png'), auto;
    }

    .cursor-navigate {
      cursor: url('@/assets/ui/cursors/nav_2x.png'), auto;
    }

}