:root {
  color: rgba(255, 255, 255, 0.87);
  background: darkslategray;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#scene-container {
  width: 750px; height: 500px; border: 1px solid teal;
  box-shadow: 1px 1px 5px black;
  border-radius: 5px;
  background-color: black;
}