main {
    position: relative;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 81px; /* 81 is the width of the imode-picker image */

    gap: 2px 0px;
}

#dialogue-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: bottom left !important;
}

#bottom-bar {
    display: flex;
    gap: 2px;

    #event-log {
        padding: 5px;
        flex-grow: 1;

        .inner {
            overflow: auto;
            height: 100%;
            padding: 4px;
            padding-top: 2px;
        }

        .inner::-webkit-scrollbar {
            display: none;
        }

        .inner p {
            opacity: 0;
            animation: fadeIn 0.5s forwards;
        }
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* main {
    zoom: 2;
} */


/* Integer scale game when there's enough room */
@media screen and (min-width: 1978px) and (min-height: 1378px) {
    @supports not (-moz-orient: block) { /* chrome/webkit */
        main {
            zoom: 2; /* zoom doesn't seem to interpolate */
        }
    }

    @supports (-moz-orient: block) { /* firefox does things differently because of course */
        body {
            scale: 2;
        }

        #root {
            /* On firefox: perspective: 0px; makes the text not-blurry at normal scale
                but when zoomed in, it makes the text blurry (lmfao?) */
            perspective: none; 
            transform: none;
        }
    }

}