.battle-init-message {
    position: absolute;
    bottom: 42px;
    left: 50%;
    transform: translateX(-50%) perspective(0px);
    display: grid;
    grid-template-columns: repeat(3, auto);

    /* opacity: 0;
    animation: fade-in forwards 2s;
    animation-delay: 1s; */

    & span {
        display: grid;
        place-items: center;
        background-color: white;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        padding: 1px;
        text-transform: uppercase;
        width: 305px;

        /* Yeah. */
        & p {
            transform: perspective(0px);
        }


    }
    
    .battle-init-bottom {
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        height: fit-content;
        color: gray;
    }

    /* dont ask */
    img {
        margin: 0 -1px;
        /* image-rendering: auto; */
    }
}