.current-move-clash {
    position: absolute;
    top: 40%;
    left: 0;
    background: black;
    width: 50px;
    border-right: solid 2px white;

    .battle-clash-arrow {
        margin-left: 11px;
        margin-top: 2px;
        margin-bottom: -2px; /* yeah sure buddy */
    }

     .opponent-side-of-clash, .player-side-of-clash {
        display: grid;
        grid-template-columns: 30px auto;

        & img {
            margin: 0 auto;
        }

        & div {
            display: grid;
            grid-template-columns: auto;
        }
     }
}