.battle-forsake {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: repeat(3, auto);

    opacity: 0;
    animation: fade-in 1000ms linear forwards;
    animation-delay: 1s;


    & span {
        display: grid;
        place-items: center;
        background-color: white;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        padding: 1px;
        text-transform: uppercase;
        width: 305px;
    }

}

.forsake-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;

    circle {
        transform-origin: center;
        rotate: 90deg;
        stroke-dasharray: 1500;
        stroke-dashoffset: 1500;
        animation: strokein 1s forwards linear;
    }
}

@keyframes strokein {
    to {
        stroke-dashoffset: 0;
    }
}