.enoch-puzzle {
    background: url('./assets/frame2.png');
    position: relative;
    width: 459px;
    height: 359px;
    padding: 20px 13px 27px 46px;

    font-size: 32px;

    display: flex;
    align-items: center;

    gap: 30px;

    button {
        font-size: 16px;
        box-sizing: border-box;
        border: none;
        background: transparent;
    }

    .enoch-spinners {
        position: relative;
        display: flex;
        justify-content: baseline;
        /* grid-template-columns: repeat(6, auto); */
        gap: 2px;

        .crctn {
            color: red;
        }

        .correct-lttr {
            color: lime;
        }
    }

    .enoch-col {
        position: relative;
        font-family: 'enochian';
        width: 24px;
    }

    .enoch-col::before {
        content: '';
        z-index: 5;
        background: url('./assets/dfade.png');
        /* background-color: #ff00006a; */
        position: absolute;
        inset: 0;
    }

    .guess-counter {
        position: absolute;
        right: 10px;
        top: 14px;
        display: flex;
        gap: 3px;

        display: grid;
        grid-template-columns: auto auto;

        img {
            display: block;
        }

        div {
            flex-direction: column;
            gap: 4px;
        }
    }

    .guess-button {
        cursor: var(--cursor_pointer);
        position: absolute;
        bottom: -7px;
        left: 229px;
    }

    .guess-button:active {
        bottom: -6px;
    }

    .decrypt-preview {
        flex-grow: 1;
        height: 100%;
        background-position-y: 10px;
        background: url('./assets/bg.png');
        display: flex;
        align-items: center;
    }

}