.ui-layer {
    position: absolute;
    top: 0;
    left: 0;
}

.blocking-layer {
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

.ui-layer.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--bottombar-height);
}